#partial-mainStats.row
  .col-md-4.stat.u-paddingLeft.u-paddingRight
    .icon.totalSales
      %span.glyphicon.glyphicon-usd.u-marginRight{:"aria-hidden" => 'true'}
    .amount
      %h1= "$#{@user.total_sales}"
      %h4 TOTAL SALES
  .col-md-4.stat.u-paddingLeft.u-paddingRight
    .icon.numberOfOrders
      %span.glyphicon.glyphicon-stats.u-marginRight{:"aria-hidden" => 'true'}
    .amount
      %h1= @user.number_of_orders
      %h4 ORDERS
  .col-md-4.stat.u-paddingLeft.u-paddingRight
    .icon.averageOrder
      %span.glyphicon.glyphicon-credit-card.u-marginRight{:"aria-hidden" => 'true'}
    .amount
      %h1= "$#{@user.average_order}"
      %h4 AVERAGE ORDER
