.row
  .col-md-9
    = haml :"customers/main_stats"
    .row.u-doubleMarginTop
      .col-md-12
        .panel.panel-default.panel-Panel
          .panel-heading.panel-Heading
            %h3 Orders in last month
          .panel-body
            .table-responsive
              %table.table.table-Table
                %thead
                  %tr
                    %th Number
                    %th Date
                    %th Total
                    %th
                %tbody
                  - unless @orders.empty?
                    - @orders.sort_by{|order| order.date}.reverse.each do |order|
                      %tr
                        %td= order.order_id
                        %td= order.date.strftime("%d/%m/%Y")
                        %td= "$#{order.total}"
                        %td
                          %a{href: '#'} More info
                  - else
                    User has no orders in the last month.
  .col-md-3
    = haml :"customers/recent_activity"
